/*
 * Copyright (C) 1993-2009 by CERN/IT/PDP/DM
 * All rights reserved
 */

/*
 * @(#)Imake.tmpl,v 1.5 2004/06/09 08:45:47 CERN IT-PDP/DM   Jean-Philippe Baud
 */
#define COMM	#
#define NO	0
#define YES	1
#include <site.def>
#if _AIX && _IBMR2
#include <aix.cf>
#endif
#if __APPLE__
#include <darwin.cf>
#endif
#if hpux
#include <hp.cf>
#endif
#if defined(__linux__) || defined(__GNU__) || defined(__FreeBSD_kernel__)
#include <linux.cf>
#endif
#if __Lynx__
#include <lynx.cf>
#endif
#if sgi
#include <sgi.cf>
#endif
#if sun
#include <sun.cf>
#endif
#if __osf__ && __alpha
#include <alpha_osf.cf>
#endif
#if _WIN32
#include <Win32.cf>
#endif

#if Accounting
ACCTFLAG=-DSACCT
#endif
LIB = InstallLibDir
BIN = InstallBinDir
SBIN = InstallSBinDir
#ifdef DefaultCCOptions
DEFCFLAGS = DefaultCCOptions
#endif
FILMANDIR = FilManDir
FILMANSUFFIX = FilManSuffix
LIBMANDIR = LibManDir
LIBMANSUFFIX = LibManSuffix
MANDIR = ManDir
MANSUFFIX = ManSuffix
DMONMANDIR = DmonManDir
DMONMANSUFFIX = DmonManSuffix
PERLDIR = InstallPerlDir
PYTHONDIR = InstallPythonDir
SHAREDIR = ShareDir
ETCDIR = EtcDir
SYSCONFDIR = SysconfDir
INITRCDIR = InitRcDir
LOGROTATEDIR = LogRotateDir
#if !defined(_WIN32)
CP = cp
#if !defined(SOLARIS)
IDCMD = id
LD = $(CC)
#else
IDCMD = /usr/xpg4/bin/id
#endif
LN = ln
#endif
#if HasRanlib
RANLIB = ranlib
#else
RANLIB = echo '-> '
#endif
#if _WIN32
SHELL = cmd
#else
SHELL = /bin/sh
#endif

BUILDFLAVOUR = BuildFlavour
BACKENDFLAVOUR = BackendFlavour
FLAVOURDIR = $(BUILDFLAVOUR)-$(BACKENDFLAVOUR)
LIBFLAVOURDIR = $(LIB)/$(FLAVOURDIR)
CONFFLAVOURDIR = $(ETCDIR)/$(FLAVOURDIR)

#ifndef CurDir
#define CurDir `pwd`
#endif
#ifndef FilesToClean
#define FilesToClean *.o *.a *.so ,* .es1 core
#endif
#ifndef Osuf
#define Osuf o
#endif

#include <Imake.rules>
#include INCLUDE_IMAKEFILE
